body {
    background: no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Grande', 'Montserrat', 'Avenir', Verdana, 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Fitting\ softshell\ coat\ in\ a\ store.\ Fashion\ conception.jpeg);
}


header {
    display: flex;
    align-items: center;
}

nav ul {
    padding: 5px;
    margin-top: 33px;
}

nav li {
    display: inline;
    padding-left: 50px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 180px;
}

.search_cart_bar {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-top: 10px;

}

.fa-magnifying-glass {
    position: absolute;
    top: 10%;
    right: 60px;
    color: white;
    font-size: 20px;
}

.shopping_cart {
    height: 25px;
    padding: 0px 10px;
}

.fa-bars {
    position: relative;
    color: white;
    font-size: 25px;
}

main {
    position: relative;
    flex: 1;
}

.about_descriptions {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    bottom: 180px;
}

.about {
    position: relative;
    display: block;
    border: 1px solid white;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 20px;
    text-align: center;
    min-width: 200px;
}

.icon {
    max-width: 60px;
}


h2 {
    font-family: 'Lucida Grande', 'Montserrat', 'Avenir', Verdana, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin: 10px;
}

p {
    color: white;
    padding: 15px;
}

footer {
    color: white;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
}


@media(max-width: 500px) {
    h1 {
        font-size: 60px;
    }
}

@media(max-width: 700px) {
    body {
        background-position-x: 65%;
    }

    header {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    nav {
        display: none;
    }

    .fa-magnifying-glass {
        font-size: 23px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .shopping_cart {
        margin-right: 5px;
    }
}

@media(min-width: 701px) {
    .fa-bars {
        display: none;
    }

    .fa-magnifying-glass {
        font-size: 23px;
        right: 50px;
    }
}

@media(max-width: 849px) {
    .search {
        display: none;
    }
}

@media(min-width: 850px) {
    .search {
        position: relative;
        border: 2px solid white;
        background: rgba(0, 0, 0, 0);
        border-radius: 1px;
        min-width: 100px;
        max-width: 150px;
        height: 20px;
        width: 100%;
        font-size: 18px;
        color: white;
        outline: none;
    }
}

@media(max-width: 950px) {
    body {
        background-position-x: 60%
    }

    .search {
        max-width: 150px;
    }

    nav li {
        padding-left: 20px;
    }

    h1 {
        font-size: 80px;
    }
}