body {
  background: no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../images/Fitting.png);
}

nav a,
.fa-magnifying-glass,
.search,
.fa-bars {
  color: var(--background-colour);
}

.cart-items-number {
  color: var(--background-colour);
}

main {
  position: relative;
  flex: 1;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  align-items: center;
  max-width: 850px;
}

.about_descriptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--background-colour);
  border-radius: 7px;
  padding: 15px 10px;
  margin: 0px;
  text-align: center;
  max-width: 300px;
}

.icon {
  max-width: 60px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--background-colour);
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 80px;
  max-width: 600px;
}

h1,
h2 {
  font-family: "Lucida Grande", "Montserrat", "Avenir", Verdana, sans-serif;
  text-align: center;
  color: var(--background-colour);
  font-weight: bold;
  font-size: 3em;
  margin: 10px;
}

p {
  color: var(--background-colour);
  padding: 15px;
}

footer {
  color: var(--background-colour);
}

@media (max-width: 1550px) {
  .about_descriptions {
    bottom: 300px;
  }
}

@media (max-width: 1400px) {
  .about_descriptions {
    bottom: 200px;
  }
}

@media (max-width: 1000px) {
  .about_descriptions {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin-top: 40px;
    bottom: auto;
    margin-bottom: 20px;
  }
  nav li {
    padding-left: 25px;
  }
}

@media (max-width: 950px) {
  body {
    background-position-x: 60%;
  }

  .search {
    display: none;
  }
}

@media (max-width: 800px) {
  .about_descriptions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px auto;
    max-width: 500px;
    align-content: center;
  }

  .welcome-text {
    max-width: 400px;
  }
}

@media (max-width: 750px) {
  body {
    background-position-x: 65%;
  }

  nav {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }

  .about {
    max-width: 300px;
    align-items: center;
  }

  main {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .fa-magnifying-glass {
    margin-left: 10px;
    margin-right: 20px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 500px) {
  h1,
  h2 {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}

@media (min-width: 300px) {
  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }
}
