header {
  border-bottom: var(--border-colour) solid 1px;
}

nav a {
  color: var(--text-colour);
}

main {
  position: relative;
  flex: 1;
  border-bottom: var(--border-colour) solid 1px;
}

.checkout-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 20px;
}

.form-input {
  display: flex;
  padding: 8px;
  margin: 15px;
  border: var(--border-colour) solid 1px;
  border-radius: 10px;
}

.long {
  min-width: 300px;
}

.short {
  max-width: 150px;
}

::placeholder {
  color: var(--breadcrumbs-placeholder-colour);
  font-size: 0.9em;
}

label {
  display: block;
  text-align: center;
  font-weight: bolder;
}

h3,
h4 {
  color: var(--text-colour);
}

h4 {
  text-align: center;
}

.right {
  padding-left: 15px;
  border-bottom: var(--border-colour) solid 1px;
  margin: 10px 0px;
}

button {
  margin-top: 20px;
}

.payment-icons {
  display: flex;
  flex-direction: row;
  margin: 100px auto 0px auto;
  justify-content: center;
}

.payment-icons img {
  padding: 0px 5px;
}

.vipps {
  width: 100px;
}

.visa {
  width: 200px;
}

.klarna {
  width: 40px;
}

.checkout-message {
  background: var(--background-colour);
  margin: 50px auto;
  color: var(--cta-send-checkout-colour);
  padding: 30px;
  border: 2px solid var(--cta-send-checkout-colour);
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.check {
  font-size: 1.5em;
  color: var(--background-colour);
  background-color: var(--cta-send-checkout-colour);
  padding: 15px;
  border: 1px solid var(--cta-send-checkout-colour);
  border-radius: 50%;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--text-colour);
}

h2 {
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 40px;
  color: var(--text-colour);
}

.form-error {
  display: none;
  color: var(--allert-colour);
  text-align: left;
  padding-left: 15px;
  font-size: 0.7rem;
  margin-top: -5px;
}

.cart-button-continue-shopping {
  background-color: var(--cta-send-checkout-colour);
  color: var(--background-colour);
  border: var(--cta-send-checkout-colour);
  padding: 8px 16px;
}

.cart-button-continue-shopping:hover {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 13px;
}

.cart-button-continue-shopping:active {
  text-decoration: none;
  background-color: var(--background-colour);
  color: var(--cta-send-checkout-colour);
  border: 1px solid var(--cta-send-checkout-colour);
}

@media (max-width: 1200px) {
  .long {
    min-width: 250px;
  }

  .short {
    max-width: 150px;
  }
}

@media (max-width: 1100px) {
  .search {
    max-width: 150px;
  }
}

@media (max-width: 1000px) {
  .long {
    min-width: 200px;
  }

  .short {
    max-width: 100px;
  }

  nav li {
    padding-left: 25px;
  }
}

@media (max-width: 950px) {
  .search {
    max-width: 150px;
  }
}

@media (max-width: 849px) {
  .search {
    display: none;
  }

  .checkout-main {
    margin: 0px auto;
  }

  form {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  label {
    margin-top: 30px;
  }

  .long {
    max-width: 300px;
  }

  .short {
    max-width: 150px;
  }

  .checkout-form-button {
    margin-top: 15px;
  }

  .payment-icons {
    max-width: 300px;
    margin-bottom: 30px;
  }
}

@media (min-width: 850px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 750px) {
  nav {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }

  .about {
    max-width: 300px;
    align-items: center;
  }

  main {
    margin-bottom: 10px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }

  .payment-icons {
    max-width: 200px;
    margin-bottom: 30px;
    padding: 0px;
  }

  .checkout-message {
    margin: 50px auto;

    padding: 30px 20px;

    width: 250px;
  }
}
