body {
  background-color: white;
  font-family: "Lucida Grande", "Montserrat", "Avenir", Verdana, "Lucida Sans",
    sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  min-height: 98vh;
}

header {
  display: flex;
  align-items: center;
  border-bottom: #707070 solid 1px;
}

nav ul {
  padding: 5px;
  margin-top: 33px;
}

nav li {
  display: inline;
  padding-left: 50px;
}

nav a {
  text-decoration: none;
  color: #42453e;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  max-width: 180px;
}

.search_cart_bar {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-top: 10px;
}

.search {
  position: relative;
  border: 2px solid #42453e;
  background: rgba(0, 0, 0, 0);
  border-radius: 1 px;
  min-width: 100 px;
  max-width: 150 px;
  height: 20 px;
  width: 100%;
  font-size: 18px;
  outline: none;
}

.fa-magnifying-glass {
  position: absolute;
  top: 10%;
  right: 60px;
  color: #42453e;
  font-size: 20px;
}

.shopping_cart {
  height: 25px;
  padding: 0px 10px;
}

.fa-bars {
  position: relative;
  color: #42453e;
  font-size: 25px;
}

main {
  position: relative;
  flex: 1;
  border-bottom: #637176 solid 1px;
}

.checkout-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}
/* hr {
  position: absolute;
  top: 25px;
  width: 100%;
} */

/* .fa-check {
  border: #8c3134 2px solid;
  border-radius: 50%;
  color: #8c3134;
  padding: 2px;
  width: 18px;
  text-align: center;
  background-color: white;
} */

/* .checkout-left {
  margin-right: 50px;
  margin-bottom: 30px;
} */
/* 
.checkout-left a {
  flex: 1;
  text-decoration: none;
  color: white;
  font-weight: bold;
} */
/* 
.checkout-left a:hover {
  color: #42453e;
  font-weight: bold;
} */

.form-input {
  display: flex;
  padding: 8px;
  margin: 12px;
  border: #989d9f solid 1px;
  border-radius: 10px;
}

.long {
  min-width: 300px;
}

.short {
  max-width: 150px;
}

/* button {
  padding: 7px;
  margin: 5px 12px;
  border: #5e8871 solid 2px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  background-color: white;
  font-family: "lucida grande";
  font-size: 0.8em;
  font-weight: 400;
  color: #5e8871;
}

button:hover {
  font-weight: bolder;
  transition: 0.5s;
}

button:active {
  color: white;
  background-color: #5e8871;
} */

::placeholder {
  color: #989d9f;
  font-size: 0.9em;
}

h3,
h4 {
  color: #42453e;
}

h4 {
  text-align: center;
}

.right {
  padding-left: 15px;
  border-bottom: #637176 solid 1px;
  margin: 10px 0px;
}

.total {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
}

.total h5,
h6 {
  margin: 10px, 0px;
}

.payment-icons {
  display: flex;
  flex-direction: row;
  margin: 50px auto 0px auto;
  justify-content: center;
}

.payment-icons img {
  padding: 0px 5px;
}

.vipps {
  width: 100px;
}

.visa {
  width: 200px;
  /* height: 50px; */
}

.klarna {
  width: 40px;
}

footer {
  color: #42453e;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
}

@media (max-width: 1200px) {
  .right-voucher {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .search {
    max-width: 150px;
  }
}

@media (min-width: 1001px) {
  .order-summary {
    display: none;
  }
}

@media (max-width: 1000px) {
  .checkout-right {
    display: none;
  }

  .shopping_cart {
    display: none;
  }

  .checkout-main {
    justify-content: center;
  }

  .order-summary div {
    display: flex;
    flex-direction: row;
    background-color: #e4e4e4;
    justify-content: space-around;
  }

  .order-summary img {
    max-height: 25px;
    align-self: center;
    padding-right: 10px;
  }

  .fa-magnifying-glass {
    right: 5px;
  }
}

@media (max-width: 950px) {
  nav li {
    padding-left: 20px;
  }

  .checkout-main {
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .search {
    max-width: 100px;
  }

  main {
    justify-content: center;
  }

  .form-left {
    align-self: center;
    margin: auto;
  }

  .checkout-left {
    margin: 5px;
    padding: 0px 5px;
  }
}

@media (max-width: 700px) {
  .search {
    display: none;
  }

  .fa-magnifying-glass {
    right: 35px;
  }

  nav {
    display: none;
  }

  .first-last-name,
  .postal-city {
    display: flex;
    flex-direction: column;
  }

  .email,
  .country,
  .first,
  .last,
  .company,
  .number,
  .street,
  .post,
  .city,
  .phone,
  .voucher {
    max-width: 300px;
  }

  .payment-5-steps {
    gap: 30px;
    max-width: 450px;
  }

  hr {
    position: absolute;
    top: 25px;
    width: 90%;
  }
}

@media (min-width: 701px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}
