header {
  border-bottom: 1px solid var(--border-colour);
}

nav a {
  color: var(--text-colour);
}

.logo {
  color: var(--text-colour);
}

main {
  position: relative;
  flex: 1;
  margin-top: 30px;
}

.contact-us {
  margin: 50px auto;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 70px auto 20px auto;
}

.info-blocks {
  margin: 20px 20px auto 20px;
}

.social-media {
  flex-direction: row;
}

.facebook {
  position: relative;
  padding-bottom: 3px;
}

p span {
  display: block;
  color: var(--text-colour);
}

p a {
  display: block;
  color: var(--text-colour);
}

h1 {
  color: var(--text-colour);
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.7em;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  padding: 30px auto;
}

.form-input {
  display: block;
  padding: 8px;
  margin: 12px auto;
  border: var(--border-colour) solid 1px;
  border-radius: 10px;
  min-width: 300px;
}

label {
  font-size: 0.6em;
}

button {
  width: 200px;
  padding: 8px 5px;
  color: var(--cta-send-checkout-colour);
  border: var(--cta-send-checkout-colour) 2px solid;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--background-colour);
  margin: 30px auto;
  display: block;
}

button:hover {
  color: var(--background-colour);
  background-color: var(--cta-send-checkout-colour);
  font-weight: 400;
}

.form-error {
  display: none;
  color: var(--allert-colour);
  font-size: 0.8rem;
  margin-top: 2px;
}

.information-message {
  background: var(--background-colour);
  padding: 10px;
  margin: 0px auto 20px auto;
  color: var(--cta-send-checkout-colour);
  width: 300px;
  text-align: center;
}

.check {
  margin: 0px 5px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  nav li {
    padding-left: 25px;
  }
}

@media (max-width: 950px) {
  .search {
    display: none;
  }

  main {
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  nav {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }
}

@media (max-width: 600px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  footer {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}
