body {
  background: url(../images/prototype-home-pic-darken.png) no-repeat center
    center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
}

nav a {
  color: var(--background-colour);
}

.fa-magnifying-glass,
.search,
.fa-bars {
  color: var(--background-colour);
}

.cart-items-number {
  color: var(--background-colour);
}

main {
  position: relative;
  flex: 1;
}

.home_h1 {
  margin-bottom: 100px;
  margin-left: 50px;
  position: absolute;
  bottom: 10px;
}

h1 {
  font-family: "Lucida Grande", "Montserrat", "Avenir", Verdana, sans-serif;
  text-align: left;
  color: var(--background-colour);
  font-weight: bold;
  font-size: 100px;
}

.slogan {
  display: flex;
}

.cta_read-more {
  font-family: "montserrat";
  font-weight: bold;
  color: var(--background-colour);
  background-color: none;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  border: 3px solid white;
  border-radius: 15px;
  padding: 8px 45px;
}

.cta_read-more:hover {
  text-decoration: none;
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-weight: bolder;
}

footer {
  color: var(--background-colour);
}

@media (max-width: 1300px) {
  h1 {
    font-size: 80px;
  }
}

@media (max-width: 1000px) {
  nav li {
    padding-left: 25px;
  }
}

@media (max-width: 950px) {
  body {
    background-position-x: 60%;
  }

  .search {
    display: none;
  }

  h1 {
    font-size: 60px;
  }
}

@media (max-width: 849px) {
  .home_h1 {
    margin-bottom: 80px;
    margin-left: 30px;
  }
}

@media (max-width: 750px) {
  body {
    background-position-x: 65%;
  }

  header {
    border-bottom: 1px solid var(--background-colour);
  }

  nav {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }

  .home_h1 {
    margin-left: 20px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}
