body {
    background-color: white;
    font-family: 'Lucida Grande', 'Montserrat', 'Avenir', Verdana, 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
}

nav ul {
    padding: 5px;
    margin-top: 33px;
}

nav li {
    display: inline;
    padding-left: 50px;
}

nav a {
    text-decoration: none;
    color: #42453E;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 180px;
}

.search_cart_bar {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-top: 10px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 10%;
    right: 60px;
    color: #42453E;
    font-size: 20px;
}

.shopping_cart {
    height: 25px;
    padding: 0px 10px;
}

.fa-bars {
    position: relative;
    color: #42453E;
    font-size: 25px;
}

main {
    position: relative;
    flex: 1;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4 1fr);
}

img {
    max-width: 300px;
}