body {
  min-height: 100vh;
}

header {
  border-bottom: 1px solid var(--border-colour);
}

nav a {
  color: var(--text-colour);
}

main {
  position: relative;
  flex: 1;
  max-width: 1600px;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  text-align: center;
  margin: 60px auto;
}

.main-img {
  max-width: 300px;
  max-height: 350px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--text-colour);
  font-weight: normal;
  font-size: 1em;
}

h4 {
  margin-top: 0px;
  color: var(--text-colour);
  font-weight: normal;
  font-size: 0.8em;
}

.filters {
  margin-bottom: 50px;
}

.option {
  margin-right: 20px;
  padding: 5px;
  border: var(--border-colour) solid 1px;
  border-radius: 10px;
  min-width: 150px;
}

@media (max-width: 1500px) {
  .main-img {
    max-width: 200px;
    max-height: 250px;
  }
}

@media (max-width: 1000px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  nav li {
    padding-left: 25px;
  }

  .main-img {
    max-width: 180px;
    max-height: 220px;
  }
}

@media (max-width: 950px) {
  .search {
    display: none;
  }

  .main-img {
    max-width: 150px;
    max-height: 180px;
  }
}

@media (max-width: 800px) {
  .option {
    margin-right: 10px;
    padding: 5px;
    min-width: 100px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 23px;
  }

  .social-media {
    display: none;
  }
}

@media (max-width: 750px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  nav {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }

  .filters {
    display: flex;
    flex-direction: column;
  }

  label {
    display: none;
  }

  .option {
    margin-bottom: 10px;
  }

  .jacket {
    width: 100%;
    margin: 0px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }
}

@media (max-width: 450px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }

  .product-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
}
