body {
  background: white;
  font-family: "Lucida Grande", "Montserrat", "Avenir", Verdana, "Lucida Sans",
    sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
  border-bottom: #707070 solid 1px;
}

.logo {
  max-width: 180px;
}

.search_cart_bar {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-top: 10px;
}

.search_menu {
  position: relative;
  border: 2px solid #42453e;
  background: rgba(0, 0, 0, 0);
  border-radius: 1px;
  min-width: 100px;
  max-width: 150px;
  height: 20px;
  width: 100%;
  font-size: 18px;
  outline: none;
}

.fa-magnifying-glass {
  position: absolute;
  top: 10%;
  right: 70px;
  color: #42453e;
  font-size: 20px;
}

.shopping_cart {
  height: 25px;
  padding: 0px 10px;
}

.fa-bars {
  position: relative;
  color: #42453e;
  font-size: 25px;
}

main {
  position: relative;
  flex: 1;
  background-color: white;
}

.menu_main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  top: 15px;
  margin-left: auto;
  width: 100%;
}

.menu {
  padding-left: 35px;
  border-bottom: #707070 1px solid;
  padding-bottom: 20px;
}

.help {
  border-bottom: none;
}

.menu_main a {
  display: block;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #42453e;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  color: #84532c;
}

.subscribe {
  border-bottom: none;
}

footer {
  color: #42453e;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}

@media (max-width: 500px) {
  .search_menu {
    display: none;
  }
}
