body {
  min-height: 100vh;
}

header {
  background-color: var(--background-colour);
  border-bottom: #707070 solid 1px;
}

.fa-magnifying-glass {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  position: relative;
  flex: 1;
  background-color: var(--background-colour);
  top: 30px;
}

.menu_main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: auto;
  width: 100%;
}

.menu_main li {
  font-size: 1em;
  padding: 3px 0px;
}

.menu {
  padding-left: 35px;
  border-bottom: var(--border-colour) 1px solid;
  padding-bottom: 20px;
}

.menu ul {
  padding-left: 10px;
}

.help {
  border-bottom: none;
  margin-bottom: 30px;
}

.menu_main a {
  display: block;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--text-colour);
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  color: var(--menu-header-colour);
}

.subscribe {
  border-bottom: none;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 5px 5px 5px;
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}

@media (max-width: 800px) {
  .search_menu {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }
}

@media (min-width: 751px) {
  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }
}
