/* Home page*/
body {
    background: url(../images/prototype-home-pic-darken.png) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Grande', Avenir, Verdana, 'Lucida Sans', sans-serif;
    margin: 10px 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

h1 {
    font-family: 'Lucida Grande', Avenir, Verdana, sans-serif;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 100px;
}

header {
    display: flex;
    align-items: center;
}

nav ul {
    padding: 10px;
    margin-top: 33px;
}

nav li {
    display: inline;
    padding-left: 50px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 180px;
}


.home_h1 {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 300px;
    clear: left;
}

.home_h1 div {
    margin-top: -40px;
}

.cta {
    font-family: avenir;
    font-weight: bolder;
    color: white;
    background-color: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    border: 4px solid white;
    border-radius: 10px;
    padding: 8px 45px;
    margin: 10px;

}

footer {
    color: white;
    margin-top: auto;
    margin-bottom: 15px;
    text-align: center;
}
