@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";
@import "imports/buttons.css";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXx-p7K4KLjztg.woff)
    format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

body {
  background-color: var(--background-colour);
}

nav ul {
  padding: 5px;
  margin-top: 33px;
}

nav li {
  display: inline;
  padding-left: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.logo {
  max-width: 180px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.current {
  text-decoration: underline;
  text-underline-offset: 3px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search_cart_bar {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-top: 10px;
}

.search {
  position: relative;
  border: 1px solid;
  background: rgba(0, 0, 0, 0);
  border-radius: 1px;
  max-width: 150px;
  height: 22px;
  font-size: 18px;
  color: #42453e;
  outline: none;
}

.fa-magnifying-glass {
  position: absolute;
  top: 8%;
  right: 50px;
  color: #42453e;
  font-size: 22px;
}

.shopping_cart {
  height: 25px;
  padding: 0px 5px 0px 10px;
}

.cart-icon-number {
  font-size: 1.1em;
  color: var(--text-colour);
  margin-right: 10px;
}

.fa-bars {
  position: relative;
  color: #42453e;
  font-size: 25px;
}

.loading {
  border: 15px solid var(--text-colour);
  border-top: 15px solid var(--background-colour-cart);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: rotate 2s linear infinite;
  margin: 100px auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: var(--cta-add-to-cart-colour);
  font-size: 1.3em;
  border: 2px solid var(--cta-add-to-cart-colour);
  border-radius: 20px;
  padding: 0px 10px;
}

/* women/men page*/
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--menu-header-colour);
}

/* inputs */
::placeholder {
  color: var(--breadcrumbs-placeholder-colour);
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  padding-left: 0px;
}

.breadcrumbs a {
  color: var(--breadcrumbs-placeholder-colour);
  font-weight: lighter;
  font-size: 0.8em;
}

/* footer */
footer {
  color: var(--text-colour);
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
}
