@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXx-p7K4KLjztg.woff)
    format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

body {
  background-color: var(--background-colour);
}

/* women/men page*/
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--menu-header-colour);
}

/* button cart/checkout pages*/
.checkout-form-button,
.cart-button {
  font-family: "Lucida Grande", "Montserrat", "Avenir", Verdana, "Lucida Sans",
    sans-serif;
  text-decoration: none;
  padding: 7px;
  margin: 5px 12px;
  border: var(--cta-send-checkout-colour) solid 2px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  background-color: var(--background-colour);
  font-family: "lucida grande";
  font-size: 0.8em;
  font-weight: 500;
  color: var(--cta-send-checkout-colour);
}

.checkout-form-button:hover,
.cart-button:hover {
  font-weight: bolder;
  transition: 0.5s;
  text-decoration: none;
}

.checkout-form-button:active,
.cart-button:active {
  color: var(--background-colour);
  background-color: var(--cta-send-checkout-colour);
}

.cart-button-continue-shopping {
  background-color: var(--background-colour);
  color: var(--cta-add-to-cart-colour);
  text-align: center;
  border: 2px solid var(--cta-add-to-cart-colour);
  border-radius: 10px;
  width: 150px;
  padding: 7px 17px;
  font-family: "lucida grande";
  font-size: 0.8em;
  font-weight: 500;
}

.cart-button-continue-shopping:hover {
  text-decoration: none;
  font-weight: bolder;
  padding: 7px 13px;
}

.cart-button-continue-shopping:active {
  text-decoration: none;
  background-color: var(--cta-add-to-cart-colour);
  color: var(--background-colour);
}

/* inputs */
::placeholder {
  color: var(--breadcrumbs-placeholder-colour);
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  padding-left: 0px;
}

.breadcrumbs a {
  color: var(--breadcrumbs-placeholder-colour);
  font-weight: lighter;
  font-size: 0.8em;
}

/* footer */
footer {
  color: var(--text-colour);
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
}
