@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXx-p7K4KLjztg.woff)
    format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.current {
  text-decoration: underline;
  text-underline-offset: 3px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* women/men page*/
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* button cart/checkout pages*/
.checkout-form-button,
.cart-button {
  padding: 7px;
  margin: 5px 12px;
  border: #5e8871 solid 2px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  background-color: white;
  font-family: "lucida grande";
  font-size: 0.8em;
  font-weight: 400;
  color: #5e8871;
}

.cart-button a {
  text-decoration: none;
  color: #5e8871;
}

.checkout-form-button:hover,
.cart-button:hover {
  font-weight: bolder;
  transition: 0.5s;
}

.checkout-form-button:active,
.cart-button:active {
  color: white;
  background-color: #5e8871;
}
