body {
  background: no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/prototype-home-pic-darken.png);
}

header {
  background-color: var(--background-colour);
}

a {
  color: #42453e;
}

nav a {
  color: var(--text-colour);
}

main {
  position: relative;
  flex: 1;
  background-color: var(--background-colour);
  margin-bottom: 500px;
}

.women_main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  top: 30px;
}

.women_main li {
  display: block;
  font-size: 1em;
  padding: 3px 0px;
}

.women {
  padding-right: 60px;
}

h3 {
  color: var(--text-colour);
}

footer {
  color: var(--background-colour);
}

@media (max-width: 1000px) {
  main {
    margin-bottom: 350px;
  }

  nav li {
    padding-left: 25px;
  }
}

@media (max-width: 950px) {
  .search_women {
    display: none;
  }
}

@media (max-width: 750px) {
  body {
    background-color: white;
    background-image: none;
  }

  header {
    border-bottom: 1px solid var(--border-colour);
  }

  nav {
    display: none;
  }

  .fa-magnifying-glass {
    margin-right: 30px;
  }

  .shopping_cart {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-plus-number {
    margin-right: 10px;
  }

  h2 {
    color: var(--menu-header-colour);
    padding-left: 15px;
  }

  main {
    margin-bottom: 100px;
  }

  .women_main {
    position: relative;
    flex-direction: column;
    margin-left: auto;
    width: 100%;
  }

  .women {
    padding-left: 10px;
    border-bottom: var(--border-colour) 1px solid;
    padding-bottom: 20px;
  }

  .outlet {
    border-bottom: none;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-colour);
    padding: 5px;
  }
}

@media (min-width: 751px) {
  .fa-bars {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 23px;
    right: 60px;
  }

  main {
    padding-left: 50px;
  }

  h2 {
    display: none;
  }

  .social-media {
    display: none;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 100px;
  }

  header {
    padding: 10px 10px;
  }
}
