body {
    background: no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 25%;
    font-family: 'Lucida Grande', 'Montserrat', 'Avenir', Verdana, 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/prototype-home-pic-darken.png);
}


header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
}

nav ul {
    padding: 5px;
    margin-top: 33px;
}

nav li {
    display: inline;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #42453E;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 180px;
}

.search_cart_bar {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-top: 10px;
}

.search_women {
    position: relative;
    border: 2px solid #42453E;
    background: rgba(0, 0, 0, 0);
    border-radius: 1 px;
    min-width: 100 px;
    max-width: 150 px;
    height: 20 px;
    width: 100%;
    font-size: 18px;
    outline: none;
}

.fa-magnifying-glass {
    position: absolute;
    top: 10%;
    right: 60px;
    color: #42453E;
    font-size: 20px;
}

.shopping_cart {
    height: 25px;
    padding: 0px 10px;
}

.fa-bars {
    position: relative;
    color: #42453E;
    font-size: 25px;
}

main {
    position: relative;
    flex: 1;
    background-color: white;
    margin-bottom: 500px;
}

.women_main {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    top: 30px;
    margin-left: 240px;
}

.women_main a {
    display: block;
    font-size: 1em;
}

.women {
    padding-right: 60px;
}

h3 {
    color: #42453E;
}

footer {
    color: white;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
}



@media(max-width: 700px) {
    body {
        background-color: white;
        background-image: none;
    }

    nav {
        display: none;
    }

    .search_women {
        max-width: 100px;
    }

    .fa-magnifying-glass {
        font-size: 23px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .shopping_cart {
        margin-right: 5px;
    }
}

@media(min-width: 701px) {
    .fa-bars {
        display: none;
    }

    .fa-magnifying-glass {
        font-size: 23px;
        right: 50px;
    }



}

@media(max-width: 849px) {
    .search_women {
        display: none;
    }

    .women_main {
        top: 15px;
        margin-left: 100px;
    }
}



@media(max-width: 1000px) {
    body {
        background-position-x: 60%
    }

    main {
        margin-bottom: 350px
    }

    .search {
        max-width: 150px;
    }

    nav li {
        padding-left: 20px;
    }


}